.Fshnquiz Container {
  padding: 5px 10px;
  align-items: center;
  font: optional;
  font-family: "Courier New", Courier, monospace;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.qztop-tier {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 15px;
  margin-top: 8%;
  margin-left: 4%;
}
.main-bod {
  margin-top: 2%;
  margin-left: 2.7%;
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 22px;
  margin-right: 2.4%;
}
.ldr-award {
  display: grid;
  grid-template-rows: 6fr 4fr;
  gap: 15px;
}
.qztop-tier h1 {
  color: deeppink;
  text-emphasis-color: #332f2f;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  font-size: 3rem;
  margin-top: 0%;
}
#aesthtic {
  color: #333;
  font-size: 4.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif "Lucida Sans", Arial, sans-serif;
  text-emphasis: bold;
  margin-top: -2%;
}
.qz-heading {
  margin-left: 1.5vw;
  text-align: left;
}
.qz-heading p {
  margin-top: 15%;
  margin-right: 140px;
  text-align: left;
  font-size: 1.2rem;
  color: #333;
}
.top-image {
  margin: 2vh 2vw;
  width: 80%;
}
.top-image img {
  width: 80%;
  height: 100%;
}
.ldrboard {
  margin: 20px 20px;
  width: 89%;
}
.ldrboard h3 {
  color: rgb(15, 7, 50);
  text-emphasis-color: #332f2f;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  text-align: center;
}
.ldrboard img {
  width: 80%;
  height: 65%;
}
.btn-row {
  display: flex;
  justify-content: space-between;
  margin: 2.5% 10%;
}

.btn-row button {
  padding: 10px 30px;
  border: none;
  background-color: #f21e8f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.submit-btn {
  padding: 10px 30px;
  margin-left: 70%;
  margin-bottom: 15%;
  border: none;
  background-color: #f21e8f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.submit-btn:hover {
  background-color: #f99d25bf;
}

.btn-row button:hover {
  background-color: #f99d25bf;
}
.quiz-ques h2 {
  color: rgb(15, 7, 50);
  text-emphasis-color: #332f2f;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  text-align: center;
}
.quiz-ques hr {
  color: darkgray;
  width: 80%;
}
.question-section {
  margin: 1% 6%;
}

.question-count {
  margin-bottom: 10px;
}

.question-text {
  margin-bottom: 20px;
  font-size: 1.35rem;
  color: grey;
}

.answer-section {
  margin: 0% 9%;
  display: flex;
  flex-wrap: wrap;
}

.option-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 50%; /* Each option takes half the container's width */
}

.option-container input {
  margin-right: 10px;
  accent-color: #f99d2f; /* Change color to match the image if needed */
}

.option-container label {
  font-size: 1.4rem;
}
